*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Lato';
  src: url(Lato/Lato-Black.ttf);
  src: url(Lato/Lato-Bold.ttf);
  src: url(Lato/Lato-Light.ttf);
  src: url(Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Coco';
  src: url(cocogoose/Cocogoose_trial.otf);
}

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  #header {
    padding-left: 15px;
    padding-top: 7px;
    background-color: transparent;
    width: 100%;
    position: fixed;
  }

  #nav-logo,
  #account {
    display: none;
  }

  #menu {
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;
    text-align: center;
    margin: 5px;
    color: #272a31;
  }

  #menu:hover {
    color: #ec5242;
  }

  #home {
    padding: 20px 15px 50px 15px;
    background-size: contain;
    background-image: url("img/monochrome-abstract-contour-lines-collection/80542.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .small-heading {
    font-size: 13px;
    font-weight: 100;
    color: #ec5242;
    margin-top: 30px;
  }

  #big-heading {
    font-family: 'Coco', sans-serif;
    font-size: 45px;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("img/bg-h1.jpg");
  }

  #home-description {
    border: 1px solid white;
    color: rgb(100, 100, 100);
    background-color: #d3d3d3;
    font-size: 8px;
    margin: 10px 20px 25px 0;
    padding: 10px 12px 10px 10px;
  }

  #home-date {
    font-family: "Coco", sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #272a31;
  }

  #tag {
    font-size: 10px;
  }
}

@media (min-width: 769px) {
  #menu,
  .menu-mobile {
    display: none;
  }

  #header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
  }

  .shadow {
    position: relative;
    box-shadow: 5px 5px 10px rgb(199, 199, 199);
  }

  #account {
    width: 100%;
    background-color: #272a31;
    padding-bottom: 2px;
  }

  #account ul {
    display: flex;
    float: right;
    list-style: none;
    gap: 8px;
    margin-right: 8%;
  }

  .account-icon,
  .account-item {
    padding: 2px;
  }

  .account-item a,
  .account-icon a {
    color: white;
    font-size: 12px;
    font-weight: 100;
  }

  #nav-logo {
    display: flex;
    justify-content: space-between;
    padding: 5px 8% 5px 12%;
  }

  #logo {
    padding: 6px;
    font-family: 'Coco', sans-serif;
    font-size: 20px;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #ec5242;
  }

  #logo:hover {
    background-image: url("img/bg-h1.jpg");
  }

  #nav-logo ul {
    display: flex;
    float: right;
    list-style: none;
    gap: 8px;
  }

  .nav-item {
    padding: 10px;
  }

  .nav-item-out {
    width: auto;
    display: flex;
    padding: 2px 7px 2px 7px;
    border: 3px solid orangered;
    align-items: center;
    margin-left: 35px;
  }

  .nav-item a {
    color: rgb(123, 123, 123);
    font-size: 13px;
  }

  .btn-h:hover {
    color: orangered;
  }

  .btn-o {
    color: orangered;
    font-size: 13px;
  }

  .btn-o:hover {
    font-size: 14px;
  }

  #home {
    padding: 10% 20% 10% 20%;
    background-size: contain;
    background-image: url("img/monochrome-abstract-contour-lines-collection/80542.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .small-heading {
    font-size: 25px;
    font-weight: 100;
    color: #ec5242;
    margin-top: 30px;
  }

  #big-heading {
    font-family: 'Coco', sans-serif;
    font-size: 60px;
    color: #ec5242;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("img/bg-h1.jpg");
  }

  #home-description {
    border: 1px solid white;
    color: rgb(100, 100, 100);
    width: 80%;
    background-color: #d3d3d3;
    font-size: 15px;
    margin: 10px 0 10px 0;
    padding: 15px;
  }

  #home-date {
    font-family: 'Coco', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #272a31;
  }

  #tag {
    font-size: 20px;
  }
}
